%ul.navibar
  %li.title
    =image_tag('logo.png', size: "40x40", class: 'image-logo')
    =link_to raw('<b>Su</b>Pictures'), photos_path
  %li.category 
    =link_to 'Abstract', '/category/abstract'
  %li.category
    =link_to 'Food', '/category/food'
  %li.category 
    =link_to 'Nature', '/category/nature'
  %li.category category4
  %li.search 
    =form_tag('/search', method: :get) do
      =button_tag raw(fa_icon 'search'), class: 'search-button'
      =text_field_tag :q ,'', class: 'search-input'
  -if user_signed_in?
    =link_to 'wyloguj', destroy_user_session_path, method: :delete
    =link_to '+', new_photo_path
      